.detail {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    padding: 50px;
    font-size: 150%;
    position: relative;
}

.detail img {
    max-width: 400px;
    width: 100%;
    margin: 20px;
    height: 450px;
    object-fit: cover;
    display: block;
}

.box-detail {
    max-width: 500px;
    width: 100%;
    margin: 5px 20px;
}

.box-detail .row_id {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-detail h2 {
    text-transform: uppercase;
    color: darkblue;
    letter-spacing: 2px;
    font-weight: 2rem;
}

.box-detail p {
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.8;
}

.box-detail .cart {
    background: #333;
    color: white;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.sobuoilieutrinh button{
    display: flex;  
    width: max-content;
    gap: 10px ;   
    color: rgb(248, 246, 246);
    background-color:rgb(17, 98, 212);
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 10px;
} 
.sobuoilieutrinh button:hover{
    color: rgb(183, 201, 178);
    background-color:rgba(8, 105, 49, 0.969);
}
.linebreackp{
    white-space: pre;
}